html, body {
  margin: none;
  padding: none;
}

body {
  background-image: url("img/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.header {
  flex: 0 0 0;
  width: 30%;
}

section {
  margin-top: 50vh;
  width: 50%;
  height: 50vh;
  margin-left:50%;
  background: #222;
}

section.first {
  margin-top: 100vh;
}
