body {
  background-image: url("img/moraen_bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color: #d1d3d4;
}

article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.logo {
  flex: 0 0 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.knapp {
  flex:1 0 0;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
}

a, a:hover, a:active, a:visited {
  color: #ffffff;
  text-decoration: none;
}

@media all and (min-width: 650px) {
  article {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    flex-direction: row;
  }
}
@media all and (max-width: 649px) {
  article {
    width: 80%;
    margin: 10%;
  }

  nav {
    flex-direction: column;
  }
}
