html, body {
  margin: none;
  padding: none;
}

header {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-image: url("img/background.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}


article {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url("img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  width: 70%;
  height: 70%;
  padding: 20px;
  border-top: thin solid white;
  border-bottom: thin solid white;
  overflow-y: hidden;
  overflow-x: hidden;
}

section.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img.article {
  width: 100%;
}

img.header {
  width: 100%;
}

div.header {
  flex: 0 0 300px;
}

div.article {
  flex: 0 0 100px;
  margin: 5px;
}
